{% block body %}
    <br>
    <br>
    <div class="example-wrapper">
        <a href="{{ path("app_proprietaire") }}">
            <h1>Gestion des Proprietaires</h1>
        </a>
        <table class="table table-striped">
            <tr>
                <th>Nom</th>
                <th>Prenom</th>
                <th></th>
            </tr>
            {% for p in proprietaires %}
                <tr>
                    <td>{{ p.nom }}</td>
                    <td>{{ p.prenom }}</td>
                    <td>
                        <a href="{{ path("proprietaire_modifier",{"id":p.id}) }}" class="btn btn-primary">modifier</a>
                        <a href="{{ path("proprietaire_supprimer",{"id":p.id}) }}" class="btn btn-danger">supprimer</a>
                        <a href="{{ path("chaton_voir",{"id":p.id, "source":"proprietaire"}) }}"
                           class="btn btn-warning">chatons</a>
                    </td>
                </tr>
            {% endfor %}
        </table>

{#        <h2>Ajouter un propietaire</h2>#}
{#        {{ form(formulaire) }}#}
    </div>
{% endblock %}